<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Todo App</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
</head>
<body>


	<nav class="navbar navbar-dark bg-dark">
		<div class="bg-dark">
			<h2 class="text-white">TODO</h2>
		</div>
	</nav>

	<div style="margin: 100px"></div>
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-md-8 table-responsive">
				<form class="form-horizontal" role="form" method="POST"
					th:action="@{/todo}" th:object="${todo}">

					<div class="form-group">
						<div class="input-group">
							<input type="text" id="name" th:field="*{summary}"
								class="form-control" /> <span class="input-group-btn">
								<button hidden="true" type="submit"></button>
							</span>
						</div>
					</div>

				</form>
				<table class="table">
					<thead class="thead-Light">
						<tr>
							<th>done</th>
							<th>summary</th>
							<th>delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="todo: ${todos}">
							<td><input type="checkbox" name="done" onchange="done(this)"
								th:checked="${todo.done}" data-id="1" th:value="${todo.id}"></td>
							<td th:text="${todo.summary}"></td>
							<td><a class="delete btn btn-sm btn-danger"
								th:href="@{/delete/{id}(id=${todo.id})}">X</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script>
		function done(checkbox) {
			var id = checkbox.value
			$.post("/done/", {
				id : id
			});
		}
	</script>

</body>



</html>